<!DOCTYPE html>
<html>
	<head>
		<title>University Application Tracker</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Allows bootstrap to dynamically layout the webpage for PCs and phones -->
	</head>

	<body>
		<!-- Adding flash containers -->
		<div class="container">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%= error%>
				</div>
			<%}%>
			
			<% if(success && success.length > 0){ %>
				<div class="alert alert-success" role="alert">
					<%= success%>
				</div>
			<%}%>
		</div>

