<%include ../partials/header %>
<div class="container h-100">
	<div class="row  align-items-center justify-content-center h-100">
		<div class="login-form">
			<form action="/login" method="POST">

				<h3 class="mb-5 font-weight-normal text-center">Login</h3>

				<div class="form-group">
				    <label for="user_id">User ID</label>
				    <input type="user_id" class="form-control form-control-lg" name="username" placeholder="User ID" required autofocus>
				</div>

				 <div class="form-group">
				    <label for="name">Password</label>
				    <input type="password" class="form-control form-control-lg" name="password" placeholder="Password" required>
					
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<%include ../partials/footer %>