<%include ./partials/header %>
<div class="container-fluid">
	<h1>University Application Tracker</h1>
</div>
<div class="container-fluid">
	<div>
		<a role="button" href="/users" class="btn btn-primary">See students</a>
		<a role="button" href="/unis" class="btn btn-primary">See universities</a>
	</div>
</div>
<%include ./partials/footer %>