<%include ../partials/header %>
<div class="container">
	<form action="/unis" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="unis[name]" placeholder="Name">
		</div>
		Essay editing coming to a future commit near you!
		
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">Submit</button>
		</div>
	</form>
</div>
<%include ../partials/footer %>