<%include ../partials/header %>

<!-- HEADER -->
<div class="container">
	<h1>Add new university</h1>
</div>

<!-- FORM -->
<div class="container">
	<form action="/unis" method="POST">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Name</span>
			</div>
			<input class="form-control" type="text" name="unis[name]">
		</div>
		<br>

		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">Submit</button>
		</div>
	</form>
</div>
<%include ../partials/footer %>