<%include ../partials/header %>
<div class="container">
	<h1>List of Students</h1>
	<p>Click on the student ID to view their page.</p>
	<table class="table table">
		<thead>
			<tr>
				<th>Student ID</th>
				<th>Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<!-- Generate each user's row -->
			<%users.forEach(function(user){%>
				<tr>
					<td>
						<a href="/users/<%=user._id%>">
							<%=user.username%>
						</a>
					</td>
					<td><%=user.fullname%></td>
					<td><%=user.email%></td>
				</tr>
			<%});%>
		</tbody>
  </table>
</div>
<div class="container">
	<a role="button" href="/users/new" class="btn btn-outline-primary btn-block">Add a student</a>
</div>
<%include ../partials/footer %>