<%include ../partials/header %>

<!-- HEADER -->
<div class="container">
	<h1>Add a new student</h1>
</div>

<!-- CONTENT -->
<div class="container">
	<form action="/users/" method="POST">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Username</span>
			</div>
			<input type="text" class="form-control" name="user[username]">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Password</span>
			</div>
			<input type="password" name="password" class="form-control">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text">Name</span>
			</div>
			<input type="text" class="form-control" name="user[fullname]">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Email</span>
			</div>
			<input type="text" class="form-control" name="user[email]">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Phone</span>
			</div>
			<input type="tel" class="form-control" name="user[contact]">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Admin User</span>
			</div>
			<input type="checkbox" class="form-control" value="true" name="user[isAdmin]">
		</div>
		<button type="submit" class="btn btn-lg btn-primary btn-block">Add Student</button>
	</form>
</div>
<%include ../partials/footer %>